@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: rgba(109, 107, 108, 0.6);
}

::-webkit-scrollbar-thumb {
  background: rgba(25, 27, 29, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 27, 29, 1);
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.fa-bars {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3a39;
  transition: top 0.3s ease-in-out;
  z-index: 999;
  padding: 2rem 1.5rem;
}

.mobile-menu.active {
  top: 0;
}

.mobile-menu .close {
  justify-content: flex-end;
  font-size: 1.5rem;
}

.menu-items {
  flex-direction: column;
  gap: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  padding: 1rem;
}

header {
  background-color: #3e3c3c;
  padding: 1rem 9rem;
  color: #fff;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.desktop-nav {
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  padding: 0.5rem 1rem;
  align-items: center;
}

.logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
}

.fa-envelope {
  margin-left: 0.5rem;
}

.landing-page {
  padding: 12rem 1rem;
  background-color: #1c1a19;
}

.landing-page .landing-page-content {
  gap: 2rem;
  align-items: center;
}

.landing-page .intro-text {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem 4rem;
  order: 2;
  width: 50%;
}

.landing-page .intro-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  color: #f55800;
  line-height: 5rem;
}

.landing-page .intro-text h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
  font-weight: 500;
}

.landing-page .intro-text h5 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  line-height: 2rem;
  font-weight: 400;
}

.landing-page .socials {
  gap: 1rem;
  font-size: 1.2rem;
  flex-direction: column;
}

.my-portfolio {
  padding: 7rem 7rem 12rem;
}

.my-portfolio .title {
  align-items: center;
  padding: 0 0 3rem;
  gap: 1rem;
}

.my-portfolio .title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 600;
}

footer .line {
  width: 100%;
  height: 1px;
  background-color: #3e3c3c;
  margin: 1rem 0;
}

.about-page .line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}

.my-portfolio .title .line {
  width: 70%;
  height: 0.1rem;
  background-color: #212121;
}

.sample {
  gap: 2rem;
  padding: 2rem 0;
}

.sample img {
  width: 50%;
  height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.sample .sample-para {
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  width: 50%;
}

.sample .sample-para h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
}

.sample .sample-para p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.sample .sample-para ul,
.work-item .work-item-content ul {
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.footer-socials li {
  font-size: 1.5rem;
  color: #212121;
}

.sample .sample-para ul li {
  border: #8993a4 0.1rem solid;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.sample .sample-para .sample-btn {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #f55800;
  cursor: pointer;
}

.works-grid {
  display: grid;
  padding: 2rem 0;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.works-grid .work-item {
  width: 95%;
  height: 27rem;
  color: #fff;
  border-radius: 0.5rem;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.2s ease-out;
}

.works-grid .work-item .work-item-content {
  padding: 14rem 1rem 0;
  flex-direction: column;
  gap: 1rem;
}

.work-item .work-item-content h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 500;
}

.work-item .work-item-content p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 40%;
}

.work-item .work-item-content ul li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.work-item button {
  display: none;
  padding: 1rem 2rem;
  background-color: #f55800;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.2rem;
  margin: 4.8rem 0.5rem;
  cursor: pointer;
}

.skills-grid .item ul {
  flex-direction: column;
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  padding: 2rem 0;
}

.about-page .about p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #fff;
}

.about-page {
  padding: 7rem 7rem 7rem;
  background-color: #1c1a19;
}

.about-page .about {
  flex-direction: column;
  padding: 0 0 5rem;
  gap: 1.5rem;
  width: 50%;
}

.about-page .about h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #f55800;
}

.about-page .about .resume {
  padding: 1rem 0;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #f55800;
  width: 40%;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
  padding: 7rem 0 0;
  width: 100%;
  color: #fff;
}

.skills-grid .item div {
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.skills-grid .item h5 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.fa-square-js,
.fa-react,
.fa-git-alt {
  color: #f55800;
  font-size: 1.5rem;
}

.contact-form {
  padding: 7rem 7rem 0;
  gap: 1rem;
  width: 100%;
}

.contact-form .form-container {
  gap: 2rem;
}

.contact-form .form-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
  color: #212121;
  width: 45%;
}

.contact-form .form-container form {
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

.contact-form .form-container form input {
  padding: 1rem;
  border: 0.1rem solid #3e3c3c;
  border-radius: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
  background-color: #fbf8f7;
  width: 100%;
}

.contact-form .form-container form textarea {
  padding: 1rem;
  border: 0.1rem solid #3e3c3c;
  border-radius: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
  background-color: #fbf8f7;
  width: 100%;
  height: 10rem;
  resize: none;
}

.contact-form .form-container form button {
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #f55800;
  cursor: pointer;
  width: 20%;
}

footer {
  padding: 0.1rem 0 0.1rem;
}

.footer-socials {
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: #3e3c3c;
}

.footer-socials li a {
  color: #505f79;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  width: 85%;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 0.5rem;
}

.modal-container.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-container .modal-content {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
}

.modal-container .modal-content .modal-header {
  justify-content: space-between;
  align-items: center;
}

.modal-container .modal-content h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
  color: #212121;
}

.modal-container .modal-content .close-button {
  font-size: 1.5rem;
  color: #212121;
  cursor: pointer;
}

.modal-container .modal-content .tag-container {
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  padding: 1rem 0;
}

.modal-container .modal-content .tag-container .tag {
  padding: 0.5rem;
  border: 0.1rem solid #3e3c3c;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
}

.modal-container .modal-content .modal-description {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem 0 0;
}

.modal-container .modal-content .modal-description img {
  width: 60%;
  height: 65vh;
  object-fit: cover;
  border-radius: 0.2rem;
}

.modal-container .modal-content .modal-description p {
  width: 100%;
  line-height: 2rem;
}

.modal-description .description-flex {
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  width: 40%;
}

.modal-links {
  gap: 1rem;
  width: 100%;
}

.modal-links .live-link,
.modal-links .source-link {
  padding: 1rem;
  border-radius: 0.3rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f55800;
  cursor: pointer;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  transition: 300ms ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (hover: hover) and (pointer: fine) {
  .work-item:hover {
    color: transparent;
    border: 3px solid #212121;
    transform: scale(1.01);
  }

  .work-item:hover .work-item-content ul,
  .work-item:hover .work-item-content p {
    display: none;
  }

  .work-item:hover button {
    display: block;
  }
}

/* mobile version */

@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
    margin: 0 1rem 0;
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }

  .desktop-nav {
    display: none;
  }

  .landing-page {
    padding: 5rem 0.5rem 10rem;
  }

  .landing-page .landing-page-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .landing-page .intro-text {
    width: 100%;
    order: 1;
    padding: 1rem;
  }

  .landing-page .intro-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .landing-page .intro-text h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .landing-page .intro-text h5 {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .landing-page .socials {
    order: 2;
    flex-direction: row;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .my-portfolio {
    padding: 4rem 1.2rem;
  }

  .my-portfolio .title {
    flex-direction: column;
    gap: 3rem;
  }

  .my-portfolio .title .line {
    width: 100%;
  }

  .sample {
    flex-direction: column;
    gap: 2rem;
  }

  .sample img {
    width: 100%;
  }

  .sample .sample-para {
    width: 100%;
  }

  .works-grid .work-item {
    width: 100%;
  }

  .works-grid .work-item .work-item-content {
    padding: 9.5rem 1rem 0;
  }

  .works-grid .work-item button {
    display: block;
    margin: 0 1rem;
  }

  .about-page {
    padding: 5rem 1.2rem;
  }

  .about-page .about {
    width: 100%;
  }

  .about-page .about h1 {
    font-size: 4rem;
  }

  .about-page .about button {
    width: 40%;
    padding: 0.8rem;
  }

  .about-page .skills-grid {
    gap: 4rem;
  }

  .about-page .skills-grid div {
    justify-content: center;
    padding: 1rem;
  }

  .about-page .skills-grid ul {
    align-items: center;
    gap: 2.5rem;
  }

  .contact-form {
    padding: 5rem 1.2rem;
  }

  .contact-form .form-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .contact-form .form-container h2 {
    width: 100%;
    text-align: center;
  }

  .contact-form .form-container form {
    width: 100%;
    align-items: center;
  }

  .contact-form .form-container form button {
    width: 40%;
    padding: 1rem;
  }

  .modal-container {
    height: 95%;
  }

  .modal-container .modal-content {
    overflow-y: scroll;
  }

  .modal-container .modal-content .tag-container {
    gap: 0.5rem;
  }

  .modal-container .modal-content .tag-container .tag {
    font-size: 0.9rem;
  }

  .modal-container .modal-content .modal-description {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 0.2rem 0;
  }

  .modal-container .modal-content .modal-description img {
    width: 100%;
    height: 40%;
    padding: 1rem 0 0;
    object-fit: cover;
  }

  .modal-description .description-flex {
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
  }

  .modal-links {
    justify-content: space-between;
    padding: 0 0 0.5rem;
  }

  .modal-links .live-link,
  .modal-links .source-link {
    padding: 1.2rem;
  }
}
